@use './vars';

.main {
	margin: 0 10em;
	background: white;

	@media (max-width: 674px) {
		margin: 0 5em;
	}

	@media (max-width: 486px) {
		margin: 0 2.5em;
	}

	.imgContainer {
		width: 100%;
		overflow: hidden;
		max-height: 20em;
		z-index: 0;

		.img {
			width: 100%;
			transform: translate(0, -15%);
		}
	}

	.heading {
		padding-top: 0.5em;
		text-align: center;
	}

	.card {
		padding: 1em;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr;
		padding: 0 1em 1em 1em;
		gap: 4em;

		@media (max-width: 674px) {
			grid-template-columns: 1fr;
			gap: 1em;
		}

		.col {
			.card {
				border: 1px solid #888888;
				border-radius: 5px;
				box-shadow: 2px 3px #eeeeee;
				margin: 1em 0;

				hr {
					margin: 0.5em 1em 0.25em;
				}

				.link {
					text-decoration: none;
					color: black;

					.text {
						width: fit-content;
						display: inline-block;
					}

					&:hover {
						color: white;
						background: vars.$primary;

						.text {
							color: white;
							background: vars.$primary;
						}
					}
				}
			}
		}
	}
}
