.main {
	margin: 0 10em;
	height: 100%;
	background: white;
	overflow-y: scroll;

	@media (max-width: 674px) {
		margin: 0 5em;
	}

	@media (max-width: 486px) {
		margin: 0 2.5em;
	}

	.heading {
		padding: 1em;
		text-align: center;

		h1,
		p {
			margin: 0 auto;
			max-width: 80ch;
		}
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 1em;
		gap: 4em;

		.col {
			display: flex;
			flex-direction: column;

			.card {
				border: 1px solid #888888;
				border-radius: 5px;
				box-shadow: 2px 3px #eeeeee;
				margin: 0.25em 0.5em;
				padding: 1em;

				p {
					max-width: 80ch;
					margin: 0.5em;
				}

				h2,
				h4 {
					display: inline-block;
				}
			}
		}
	}
}
