.main {
	margin: 0 10em;
	height: 100%;
	background: white;

	@media (max-width: 674px) {
		margin: 0 5em;
	}

	@media (max-width: 486px) {
		margin: 0 2.5em;
	}

	.card {
		padding: 1em;
		text-align: center;

		h1,
		p {
			max-width: 80ch;
			margin: 0.5em auto;
		}
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 1em;
		gap: 4em;

		.col {
			display: flex;
			flex-direction: column;

			.card {
				border: 1px solid #888888;
				border-radius: 5px;
				box-shadow: 2px 3px #eeeeee;
			}
		}
	}
}
